/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-kishanjasani-team-members {
	display: block;

	@for $i from 1 through 6 {

		&.has-#{$i}-columns {

			> .block-editor-inner-blocks > .block-editor-block-list__layout {

				[data-type="kishanjasani/team-member"] {
					width: calc(100% / #{$i} - 20px);
				}

				.block-list-appender {
					position: initial;
					width: calc(100% / #{$i} - 20px);
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px dashed;
					min-height: 100px;
				}
			}
		}
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		> [data-type="kishanjasani/team-member"] {
			margin: 10px;
		}
	}
}
